<body>
    <h2>でんさんけいじばん！(テスト)</h2>
    <form method="post" action="/new">
        <div>
            <label for="name">名前</label>
            <input type="text" name="name" size="30" placeholder="名前を入力してください">
        </div>

        <div>
            <label for="コメント内容">コメント</label>
            <input type="text" name="body" size="30" placeholder="コメント内容"></p>
            
        </div>

        <input type="submit" value="投稿">
    </form>

    <ol>
        {{ range .comments }}
        <li>
            <p>名前： {{ .Name }}, コメント：{{ .Body }}</p>
            <p>
                <!-- <label><a href="/detail/{{.ID}}">編集</a></label> -->
                <label><a href="/delete_check/{{.ID}}">削除</a></label>
            </p>
        </li>
        {{end}}
    </ol>
</body>
